NODE_ENV=
API_PORT=
API_DATABASE_URL=
API_CORS_ORIGINS=
API_JWT_SECRET=
API_JWT_EXPIRES_IN=
API_TOKEN_SECRET=
API_REFRESH_TOKEN_EXPIRES_IN=
API_OAUTH_ITCH_CLIENT_ID=
API_OAUTH_ITCH_CALLBACK_URL=
API_OAUTH_AUTH_SUCCESS_REDIRECT_URL=

EXPO_PUBLIC_API_URL=http://localhost:8000
